@model IEnumerable<repaso_para_examen__1.Models.Fails>

<h2 class="text-center">Fails  </h2>


<div class="container">
  <div class="row " >
    <div class="col "style="border: solid 2px;">
      <a asp-controller="Home" asp-action="Index">Pagina principal</a>
    </div>
    <div class="col"style="border: solid 2px;">
      <a asp-action="CrearFails">Subir Fails</a>
    </div>
    @if(!User.Identity.IsAuthenticated){
    <div class="col"style="border: solid 2px;">
    <a  asp-controller="Cuenta" asp-action="CrearCuenta">Crear Cuenta</a>

    </div>
    <div class="col "style="border: solid 2px;">
    <a  asp-controller="Cuenta" asp-action="InicioSesion">Iniciar Sesion</a>
    </div>
    }
    else{
    <div class="col "style="border: solid 2px;">
    <a  asp-controller="Cuenta" asp-action="CerrarSesion">Cerrar Sesion</a>
    </div>
    
    
    }
  </div>
</div>
<div style="margin-top: 45px;">
@if(Model.Count()==0)
{
    <p>No tenemos ni un fails por ahora</p>
}
else
{
    <div class="">
            @foreach (var fails in Model)
            {
                <hr >
                <div class=" ">
                    <p>Publicado por: <p  title="Manage"> @User.Identity.Name!</p></p>
                   
                    <h2><b>Titulo:</b><a style="text-decoration:none;color:black;" asp-action="Comentarios" asp-route-id="@fails.Id"> @fails.Titulo</a></h2>
                   
                    <a asp-action="Comentarios" asp-route-id="@fails.Id"><img src="@fails.Imagen" alt="img-fluid"/></a>
                    <p><b>Fechas de registro :</b>@fails.FechaRegistro</p>
                </div>
            }
    </div>
}


</div>
